@mixin proportionalBox($a: 1, $b: $a) {
    position: absolute;
    top:0;
    left: calc((50vw - #{$a/$b/2*100vh}));
    width: $a/$b*100vh; 
    height: 100vh;

    @media(max-aspect-ratio: (#{$a}/#{$b}))
    {
        top: 0; 
        left: 0;
        width: 100vw; 
        height: $b/$a*100vw;
    }
}

@mixin noSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%basicButton, %basicButton180 {
    @include noSelect;
    height: auto;
    transition: transform 50ms;
    cursor: pointer;
}

%basicButton180 {
    transform: rotate(180deg);
}

%basicButton:hover:not(.disabled) {
    transform: scale(1.05);
}

%basicButton180:hover:not(.disabled) {
    transform: scale(1.05) rotate(180deg);
}

%basicButton:active:not(.disabled) {
    transform: scale(1);
}

%basicButton180:active:not(.disabled) {
    transform: scale(1) rotate(180deg);
}